@import url(http://fonts.googleapis.com/css?family=Open+Sans);

body {
  max-width: 20em;
  margin: 7em auto;
  padding: 1em;
  font: 1em/1.5 'Open Sans', sans-serif;;
  color: rgb(21, 91, 121);
  text-transform: uppercase;
  background-color: rgb(45, 165, 218);
}

.fixed-nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 71px;
  background-color: #161510;
  border-bottom: 1px solid #adadad;
  text-align: center;
  font-color: white;
}

img.logo {
  padding: 20px;
}

a:link {
  text-decoration: none;
}

a.email:link {
  text-decoration: none;
  color: black;
}

a.email:visited {
  text-decoration: none;
  color: black;
}

a.email:active {
  text-decoration: none;
  color: black;
}

a.email:hover {
  text-decoration: none;
  color: red;
}

div.result-container {
  color: black;
  font-size: 3em;
  text-align: left;
  float: left;
  margin: 2em auto;
}

/* Form */
div.form {
  padding-top:35%;
  margin: 7em auto;
}

header {
  padding: 1.5em;
  background: rgb(238, 248, 252);
}

fieldset {
  margin: 0;
  padding: 1.5em 1.5em .5em;
  border: none;
  background: rgb(203, 233, 246);
}

section {
  margin-bottom: 1em;
  position: relative;
  text-transform: uppercase;
}

footer {
  padding: 1.5em;
  background: rgb(238, 248, 252);
}

.button {
  float: right;
  height: 2.5em;
  overflow: hidden;
  margin: 0;
  padding-left: 0 1em;
  outline: none;
  border: 0;
  color: white;
  cursor: pointer;
  background-color: rgb(45, 165, 218);
  text-transform: uppercase;
  opacity: 1;
  transition: opacity 0.2s;
  text-align: center;
}

.button:hover {
  opacity: 0.8;
}

footer:after {
  content: '';
  display: table;
  clear: both;
}

label {
  position: absolute;
  left: 0;
  top: 0;
  transition: all .2s linear;
  font-size: 0.6em;
}

input {
  width: 96%;
  margin: 0.5em 0;
  padding: 2%;
  font-size: 0.78em;
  border: 2px solid rgb(21, 91, 121);
  color: rgb(21, 91, 121);
}

input:invalid + label {
  top: 3px;
  opacity: 0;
}

input:valid + label {
  opacity: 1;
  top: -15px;
}

input:focus {
  outline: none;
}

input:focus + label {
  color: rgb(21, 91, 121);
}

input:focus {
  border-color: rgb(45, 165, 218);
}