<div class="form">
  <form action="/result" method="POST">
    <header>Email Predictor</header>
    <fieldset>
      <section>
        <input type="text" name="name" required="" placeholder="Name">
        <label>Name</label>
      </section>
      <section>
        <input type="text" name="company" required="" placeholder="Company URL">
        <label>Company URL</label>
      </section>
    </fieldset>
    <footer>
      <button type="submit" class="button">Submit</button>
    </footer>
  </form>
</div>