
<div class="form">
  <h1>Email</h1>
    <form action="/result" method="POST">
      <input type="text" name="name" placeholder="Name"><br><br>
      <input type="text" name="company" placeholder="ex: alphasights.com"><br><br>
      <input type="submit" value="Submit">
  </form>
</div>
