<!doctype html>
<html>
  <head>
    <title>Alpha Sights</title>
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  </head>
  <body> 
    <nav class="fixed-nav-bar">
      <a href="/"><img src="./images/alphasights-logo.png" width="133px" height="27px" class="logo"></a>
    </nav>

    <div class="container">

      <%= yield %>

    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  </body>
</html> 