<div class="result-container">
  <p><strong><%= @client.name %></strong>: <%= @client.predict %>

  <a href="https://mail.google.com/mail/?view=cm&fs=1&to=<%=@client.predict %>" target="_blank" class="email">&#9993</a></p>


</div>

